<li class='task-list-item'>
  <span id="<%= dom_id(task) %>" data-status="<%= task.status %>">
    <%= task.name %>
  </span>

  <%# Completion toggle %>
  <%# Toggles between 1(:standby) and 3(:complete) %>
  <%= task_completion_toggle_link(task) do %>
    <%= heroicon(task.complete? ? "refresh" : "check") %>
  <% end %>
  
  <%= task_delete_link(task) { heroicon "trash" } %>
</li>
