<%= form_with model: project, class: "form" do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-field' %>
  </div>
  <span class="w-full">
    <% project.errors.full_messages_for(:name).each do |message| %>
      <div class='text-red-500'><%= message %></div>
    <% end %>
  </span>

  <div class="form-group">
    <% description_errors = project.errors.full_messages_for(:description) %>
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-field' %>
    <% description_errors.each do |message| %>
      <div class='text-red-500'><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>