<nav class="flex gap-2 m-2">
  <% if on_index_page? %>
    <%= link_to "New Project", new_project_path, class: 'btn' %>
  <% end %>
  
  <% if on_new_page? %>
    <%= link_to 'Back', projects_path, class: 'btn' %>
  <% end %>

  <% if on_edit_page?  %>
    <%= link_to 'Back', @project, class: 'btn' %>
  <% end %>
  
  <% if on_show_page? %>
    <div><%= link_to 'Edit project', edit_project_path(@project), class: 'btn' %></div>
    <div><%= link_to 'Delete project',
                    project_path(@project),
                    class: 'btn',
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></div>
    <div><%= link_to 'Show all', projects_path, class: 'btn' %></div>
  <% end %>
</nav>