<article class="md:mx-auto">
  <header class="flex justify-between">
    <h2 class='title' id='project-name'>
      <%= @project.name %>
    </h2>
    <span class="flex">
      <%= render "control_btns" %>
      <%= render "navbar" %>
    </span>
  </header>

  <section class="mx-2 my-1" id='project-description'>
    <% @project.description.split("\n").each do |line| %>
      <p><%= line %></p>
    <% end %>
  </section>
  
  <div class="project-children">
    <section class='project-child'>
      <h4>Tasks</h4>
      <% unless @project.tasks.empty? %>
        <ul><%= render @project.tasks %></ul>
      <% end %>
      <%= render 'tasks/form' %>
    </section>
    
    <section class='project-child'>
      <h4>Issues</h4>
      <% unless @project.issues.empty? %>
        <ul><%= render @project.issues %></ul>
      <% end %>
      <%= render 'issues/form' %>
    </section>
  </div>

</article>
